{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Created</title>
    <link rel="stylesheet" href="{% static 'css/styles_privnote.css' %}">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-J71RQKFK5G"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-J71RQKFK5G');
</script>
</head>
<body>
    <div class="container">
        <h1>Note Ready!</h1>
        <p class="message">Your secret note has been created. Share this secure link:</p>
        <p><a href="{% url 'privnote:view_note' unique_link %}">{{ request.build_absolute_uri }}</a></p>
        <div class="footer">
            <p>This link will expire based on the settings you selected.</p>
        </div>
    </div>
</body>
</html>
